html, body {
    margin: 0;
    padding: 0;
    
    color: white;
    /*font-family:"";*/
}

.gris{
    background-color: #B2BDCC;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2.5%;
    display: flex;

    justify-content:space-between;

}

.navigation{ /*classe car réultilisation plus tard*/
    text-align:right;
    padding-right:1%;
    list-style: none;
  }


#bloc_gris{
    display: flex;


    /*justify-content:space-between;*/
    /*Lignes précédentes pour avoir la nav bar alignée avec le texte CYCLEAN FOR ENVIRONMENT dans la page d'accueil du login*/
    
    background-color: #B2BDCC;
    /*border-radius: 10px 10px 10px 10px;*/
    padding-bottom: 2.5%;
    padding-left: 1%;
    padding-right: 1%;


}

.cyclean{

    width:400px;
  
    padding-left:1%;
    padding-bottom: 2%;
  
  }


.slogan {
    color: white;
    font-family:"Strong Concrete";
    font-size: 340%;
    margin-bottom: 17%;
  }



.center{
    display: flex;
    justify-content: center;
}

.container-flex{
    display: flex;
}
/* pour les blocs collés dans la page d'accueil*/

.couleur_stats_accueil{
    background-color:#9e8585;
}

.couleur_activites_accueil{
    background-color:#d3cae6;
}

.couvrir{
    width: 33.33%;
    padding: 1% 5% 1%;
}

.couleur_classement_accueil{
    background-color:#92c192;


}


.titre {
    color: white;
    font-family:Helvetica;
    font-size: 250%;
}

.titre2 {
    color: white;
    font-family:Helvetica;
    font-size: 110%;
    display: inline;
    margin-right: 5%;
}


.home {
    width: 110%;
    height: 3px;
    margin-top: 1%;
    background-color:rgb(255, 255, 255);
    border: white;
    float: left;
}

.cyclean-trait{
    width: 100%;
    height: 3px;
    margin-top: 1%;
    background-color:rgb(255, 255, 255);
    border: white;
    float: left;
}


.velo-container{

    background-image: url("https://images.unsplash.com/photo-1556316384-12c35d30afa4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");

    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*background-color: rebeccapurple;*/
    width: 100%;
    display: flex;

    justify-content:space-around;
    padding-bottom: 500px;

}

.border{
    margin-top: 3%;
    border-left: 2px solid white;
    /*width: 10%;*/ /*fait bugger les blocs*/
    /*height: 10%;*/
    padding-left: 5%;
    vertical-align: middle;
    margin-top: 50%;
}