@font-face{
    src : url(fonts/StrongConcrete-Bold.otf);
    font-family: Strong Concrete;
}


html, body {
    margin: 0;
    padding: 0;
}

/*-----------------------------------------------------------------------HEADER--------------------------------------------*/

.gris{
    background-color: #92C192;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2.5%;
    display: flex;
    justify-content:space-between;
}

.navigation{ /*classe car réultilisation plus tard*/
    text-align:right;
    padding-right:1%;
    list-style: none;
  }


.titre {
    color: white;
    font-family:Helvetica;
    font-size: 250%;
}

.titre2 {
    color: white;
    font-family:Helvetica;
    font-size: 110%;
    display: inline;
    margin-right: 5%;
}


/*-----------------------------------------------------------------END HEADER-------------------------------------------------*/

/*---------------------------------------------------Classement des utilisateurs + image---------------------------------------*/


.bloc_vert{
    display: flex;
    flex-wrap: wrap;

    /*justify-content:space-between;*/
    /*Lignes précédentes pour avoir la nav bar alignée avec le texte CYCLEAN FOR ENVIRONMENT dans la page d'accueil du login*/
    background-color: #92C192;
    /*border-radius: 10px 10px 10px 10px;*/
    padding-bottom: 2.5%;
    padding-left: 1%;
    padding-right: 1%;


}

.classement_des_utilisateurs{

    width:400px;
    padding-left:1%;
    padding-bottom: 2%;
   }

  .slogan {
    /*background-color: beige;*/
    width: 40%;
    color: white;
    font-family:"Strong Concrete";
    font-size: 250%;
    margin-left: 5%;
    margin-bottom: 17%;
    margin-top: 12%;
    letter-spacing: 3px;
    transform: scaleY(1.1);
    
  }

  .image_empreinte{
      width: 49%;
      text-align: right;
      /*background-color: azure;*/
      margin-top: 5%;
      margin-right: 5%;
  }

  .classement-trait{
    margin-left: 5%;
    background-color: #92C192;
    width: 90%;
    height: 3px;
    margin-top: 1%;
    background-color:rgb(255, 255, 255);
    border: white;

}
/*------------------------------------------------END Classement des utilisateurs + image-------------------------------------*/




/*--------------------------------------------------------------------------FOOTER----------------------------------------*/


.container_footer{

    background-color: beige;
    display: flex;
    flex-wrap: nowrap;
}

.element_dans_footer{

    width: 33.333333%;
    margin: auto; 
}

.gauche{

    padding-left: 10%;
    color: #B39270;
}

.central{

    justify-content: space-between;
    text-align: center;
    color: #B39270;
    font-weight: 550;
    font-family: Helvetica, Sans-Serif;
}

.droite{

    font-family: Helvetica, Sans-Serif;
    flex-wrap: nowrap;
    text-align: center;
    color: #B39270;
    flex-grow: 1;
}

.flexbox_contact{

    text-align: center;
    flex-direction: column;
    flex-grow: 2;
}

.box_texte_contact{

    flex-shrink: 0.5;
}

.ogo_insta_whatsapp{

    flex-shrink: 1;
}

.logo_facebook{

    flex-shrink: 1;
}

/*----------------------------------------------------------END FOOTER--------------------------------------------------------------*/