body{
    background-color: #B2BDCC;
}



.conteneur{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    height: 800px;
}

.element_1{
    background-color:#B2BDCC;
    height: 50%;
    width: 20%;
    text-align: left;
    
}

hr {
    border: none;
    border-top: 1px solid white;
    color:white;
    overflow: visible;
    text-align: center;
    height: 5px;
}


input{
    border: #B2BDCC;
    background-color: #B2BDCC;
   }

