html, body {
    margin: 0;
    padding: 0;
    
    color: white;
    background-color:#9e8585;

}

.padding_total{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2.5%;
}

.flex_div{

    display: flex;

}
.v_center_align{
      align-items : center; /* aligner verticallement*/
}


.navigation{ /*classe car réultilisation plus tard*/
    text-align:right;
    padding-right:1%;
    list-style: none;
  }


.slogan {
    color: white;
    font-family:"Strong Concrete";
    font-size: 340%;


  }
  
.text-center{
    text-align:center;
  }
  
.titre {
    color: white;
    font-family:Helvetica;
    font-size: 250%;
}

.titre2 {
    color: white;
    font-family:Helvetica;
    font-size: 110%;
    display: inline;
    margin-right: 5%;
}


.cyclean-trait{
    width: 80%;
    height: 3px;
    margin-top: 1%;
    background-color:rgb(255, 255, 255);
    border: white;


}

.bloc_marron{
    display: flex;
    padding-bottom: 2.5%;
    padding-left: 2%;
    padding-right: 2%;


    align-items : center; /* aligner verticallement*/
}

.space{
    justify-content:space-between;
}

.around{
    justify-content: space-around;
}

.stats{
    color: white;
    font-family:"Strong Concrete";
    font-size: 1500%;
  }



/* lignes verticales MAIS CENTREES ensuite*/
.vline {
    border-left: 3px solid white;
    height: 500px;
  }